# Database
DATABASE_URL=postgresql://cuaca:password123@localhost:5432/weather_dwh
POSTGRES_USER=cuaca
POSTGRES_PASSWORD=password123
POSTGRES_DB=weather_dwh
POSTGRES_PORT=5432

# Weather Provider
WEATHER_PROVIDER=bmkg          # bmkg | openweather | mock (bmkg = public API, no key needed)
OPENWEATHER_API_KEY=

# Scheduler
ETL_SCHEDULE_INTERVAL_MINUTES=10

# Airflow
AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW_UID=50000
AIRFLOW_WEBSERVER_SECRET_KEY=change-me-in-production

# Service Ports
METABASE_PORT=3000
LANDING_PORT=3001
AIRFLOW_WEBSERVER_PORT=8080
